$mainColor: #0277BD;
$baseColor: #fff;
$accentColor: #589DDA;

@mixin playEffect {
  .play-effect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    > div {
      width: 8px;
      background-color: #333;
      transition: all 500ms;

      + div {
        margin-left: 2px;
      }
    }

    &.load {
      > div {
        height: 8px;
        animation: loadingEffect 800ms infinite alternate ease-in-out;
        transform-origin: center;

        &:nth-child(1),
        &:nth-child(3) { animation-delay: 250ms }
      }
    }

    &.play {
      > div {
        height: 20px;
        animation: soundEffect infinite alternate linear;
        transform-origin: bottom;

        &:nth-child(1) { animation-duration: 900ms }
        &:nth-child(2) { animation-duration: 950ms }
        &:nth-child(3) { animation-duration: 975ms }
      }
    }

    &.pause {
      > div {
        height: 20px;
        transform-origin: center;

        &:nth-child(1) { transform: translateX(3px) }
        &:nth-child(2) { opacity: 0 }
        &:nth-child(3) { transform: translateX(-3px) }
      }
    }
  }
}

@keyframes soundEffect {
  0% { transform: scaleY(.3) }
  25% { transform: scaleY(1.0) }
  50% { transform: scaleY(.5) }
  75% { transform: scaleY(.8) }
  100% { transform: scaleY(.3) }
}

@keyframes loadingEffect {
  0% { transform: scale(1.0) }
  80% { transform: scale(.5) }
  100% { transform: scale(1.0) }
}

@mixin playerIcon {
  font-family: icon;
  font-size: 2rem;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  display: block;
  text-align: center;
}

@mixin submitButton {
  border: none;
  background-color: $mainColor;
  color: #fff;
  padding: 8px 15px;
  border-radius: 2px;
  margin-top: 20px;
  width: 100%;
  outline: none;
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #eee;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #333;

    &:hover {
      background-color: #555;
    }
  }
}
