.navigation {
  background-color: rgba($mainColor, .9);
  flex: 0 0 80px;

  &:before {
    content: '';
    -webkit-app-region: drag;
    height: 25px;
    display: block;
  }

  .avatar-image {
    width: 60px;
    height: 60px;
    margin: 10px auto;
    display: block;
    border-radius: 4px;
  }

  .navigation-list {
    padding: 15px;
    margin: 0;
    list-style: none;

    > button {
      margin: 0 auto;
      padding: 0 !important;
      display: block !important;

      + button {
        margin-top: 5px;
      }

      [class*=-link] {
        &:before {
          font-family: icon;
          font-size: 25px;
          display: block;
          margin: 0 auto;
          text-align: center;
          color: #165892;
        }

        &.selected:before { color: $accentColor }
      }

      .mylists-link:before { content: '\f151' }
      .playlist-link:before { content: '\f3ab' }
      .ranking-link:before { content: '\f310' }
      .settings-link:before { content: '\f1c6' }
      .search-link:before { content: '\f1c3' }
    }
  }
}
